.card .card-header, .edit-profile__body label, .admin-condition {
    text-transform: none;
}
.layout-dark .admin {
    background-image: url(/img/admin-bg-dark.png);
}
.admin {
    background-image: url(/img/admin-bg-light.png);
}
.admin .edit-profile{
    padding-top: 10%;
    margin-top: auto;
    margin-bottom: auto;
}
.admin .edit-profile__logos img {
    width: 240px;
    max-width: 100%;
}
@media screen and (max-width: 768px) {
    .navbar-right__menu {
        display: none;
    }
}
.dropdown-custom .dropdown-wrapper--small {
   min-width: 160px;
   padding: 4px !important;
}
.spin-embadded .loaded-spin{
    top: 58%;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}