<div class="sidebar pe-2 sidebar-collapse" id="sidebar">
    <div class="sidebar__menu-group">
        <ul class="sidebar_nav">
            <li>
                <a asp-action="Index" asp-active asp-controller="Home" asp-area="Admin">
                    <span class="nav-icon uil uil-create-dashboard"></span>
                    <span class="menu-text">Trang chủ</span>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-active asp-controller="Users" asp-area="Admin">
                    <span class="nav-icon uil uil-users-alt"></span>
                    <span class="menu-text">Quản lý người dùng</span>
                </a>
            </li>
        </ul>
    </div>
</div>