@{
    ViewData["Title"] = "500 - Lỗi máy chủ";
}

<div class="container mt-n50">
    <div class="row justify-content-center align-items-center h-100vh">
        <div class="col-12">
            <!-- Start: error page -->
            <div class="content-center">
                <div class="error-page text-center">
                    <img src="/img/svg/maintenance.svg" alt="404" class="svg">
                    <div class="error-page__title">500 - Internal Server Error</div>
                    <h5 class="fw-500">Lỗi máy chủ, vui lòng thử lại sau học liên hệ quản trị viên!</h5>
                    <div class="content-center mt-30">
                        <a href="/" class="btn rounded-pill btn-primary btn-default btn-squared px-30">Quay về trang
                            chủ</a>
                    </div>
                </div>
            </div>
            <!-- End: error page -->
        </div>
    </div>
</div>
