@{
    ViewData["Title"] = "Tài khoản bị khoá";
}

<div class="container mt-n50">
    <div class="row justify-content-center align-items-center h-100vh">
        <div class="col-12">
            <!-- Start: error page -->
            <div class="content-center">
                <div class="error-page text-center">
                    <img src="/img/svg/403.svg" alt="404" class="svg">
                    <div class="error-page__title">Tài khoản bị khoá</div>
                    <h5 class="fw-500">Tài khoản của bạn đã bị khoá, liên hệ quản trị viên để được hỗ trợ</h5>
                    <div class="content-center mt-30">
                        <a href="/account/login" class="btn rounded-pill btn-primary btn-default btn-squared px-30">Quay
                            về trang
                            đăng nhập</a>
                    </div>
                </div>
            </div>
            <!-- End: error page -->
        </div>
    </div>
</div>
